
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #f7fafc;
  font-family: "Cambria", Georgia, serif;
  font-size: 14px;
}

/* h1,h2,h3,h4,h5,h6 {
  font-family:"Anton", sans-serif;
} */

.glass-effect {
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15.4px);
  -webkit-backdrop-filter: blur(15.4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}